body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}


h4{
  color: white;
}
.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  color: #030404;
}

.custom_heading span {
  color: #21d7ff;
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #023b48;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #f6f8f7;
  padding-top: 15px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .quote_btn-container a {
  color: #434242;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #434242;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-brand img {
  width: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #191919;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}


.profesora{
  position: absolute;
  width: 10%;
  top: 15%;
  left: 0%
}

.mesa2{
  position: absolute;
  width: 50%;
  top: 45%;
  left: 28%;
}

.estante{
  position: absolute;
  
  width: 30%;
  top: 28%;
  left: 72%;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* slider section */
.slider_section {
  background-image: url(../images/hero.jpg);
  padding: 6% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_detail-box h1 {
  color: rgb(252, 247, 247);
  font-size: 52px;
}

.slider_detail-box h1 span {
  display: inline-block;
  color: #302d2d;
  font-weight: bold;
}

.slider_detail-box p {
  color: #f6f8f7;
  margin-top: 45px;
  margin-bottom: 40px;
}

.slider_detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  margin-right: 10px;
}

.slider_detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #023b48;
}

.slider_detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #023b48;
}

.slider_detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_img-box {
  margin-right: 5%;
}

.slider_img-box img {
  width: 100%;
}

.carousel-indicators {
  bottom: -15%;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #010106;
}

.about_section {
  background-image: url(../images/about-bg.png);
  background-size: cover;
}

.about_section .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin: 25px 0;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #023b48;
}

.service_section .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service_section .img_box {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #18d3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .img_box img {
  width: 45px;
}

.service_section .detail_box {
  margin-top: 25px;
}

.service_section .detail_box h6 {
  font-weight: bold;
}

.service_section a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
}

.service_section a:hover {
  background-color: transparent;
  color: #023b48;
}

.gallery-section {
  background-color: #0dc3ff;
}

.gallery-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.gallery-section .container h2 {
  color: #ffffff;
}

.gallery-section .img_box {
  margin: 15px 0;
}

.gallery-section .img_box img {
  width: 100%;
  height: 100%;
}

.gallery-section .img_box.box-1 {
  width: 28%;
}

.gallery-section .img_box.box-2 {
  width: 70%;
}

.gallery-section .img_box.box-3 {
  width: 32%;
}

.gallery-section .img_box.box-4 {
  width: 32%;
}

.gallery-section .img_box.box-5 {
  width: 32%;
}

.buy_section {
  text-align: center;
}

.buy_section p {
  margin: 25px 0;
}

.buy_section a {
  display: inline-block;
  padding: 12px 65px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
}

.buy_section a:hover {
  background-color: transparent;
  color: #023b48;
}

.client_section .pl-100 {
  padding-left: 100px;
}

.client_section .client_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 1px solid #606060;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.client_section .client_container .img_box {
  width: 200px;
  margin-left: -100px;
}

.client_section .client_container .img_box img {
  min-width: 100%;
}

.client_section .client_container .detail_box {
  padding: 0 35px;
}

.client_section .carousel-indicators li {
  background-color: #0dc3ff;
}

.client_section .carousel-indicators .active {
  background-color: #8c8a8a;
}

.map_section {
  position: relative;
}

.map_section #map {
  position: absolute;
}

.map_section .form_container {
  position: relative;
  width: 50%;
  z-index: 9;
}

.map_section .form_container form {
  background-color: rgba(255, 255, 255, 0.98);
  padding: 45px;
  margin: 75px 0;
}

.map_section .form_container input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #111111;
  padding-top: 35px;
  width: 100%;
}

.map_section .form_container input.message-box {
  padding-top: 55px;
}

.map_section .form_container button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  border-radius: 30px;
  width: 100%;
  margin-top: 35px;
}

.map_section .form_container button:hover {
  background-color: transparent;
  color: #023b48;
}

.info_section {
  background-color: #023b48;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 5px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

.info_items .item .img-box.box-1 {
  background-image: url(../images/location-white.png);
}

.info_items .item .img-box.box-2 {
  background-image: url(../images/telephone-white.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../images/envelope-white.png);
}

/* footer section*/
.footer_section {
  background-color: #fbfdfd;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

.cobre{
  position: absolute;
  width:5.8%;
  top: 50.3%;
  left: 77%;
}
.lapiz{
  position: absolute;
  width:10%;
  top: 29%;
  left: 82%;
}

.grafito{
  position: absolute;
  width:5%;
  top: 21%;
  left: 78%;
}

.litio{
  position: absolute;
  width:5.9%;
  top: 50%;
  left: 82.5%;
}

.potasio{
  position: absolute;
  width:5.1%;
  top: 49.5%;
  left: 88%;
}

.calcio{
  position: absolute;
  width:5.1%;
  top: 49.5%;
  left: 93.5%;
}

.sodio{
  position: absolute;
  width:5.1%;
  top: 26.5%;
  left: 92.5%;
}
.grafito2{
  position: absolute;
  width:5%;
  top: 37%;
  left: 35%;
}
.lapiz2{
  position: absolute;
  width:10%;
  top: 58%;
  left: 28%;
}

.cobre2{
  position: absolute;
  width:5%;
  top: 63%;
  left: 64%;
}

.sodio2{
  position: absolute;
  width:5%;
  top: 63.5%;
  left: 45%;
}
.potasio2{
  position: absolute;
  width:5%;
  top: 61%;
  left: 55%;
}

.litio2{
  position: absolute;
  width:4%;
  top: 62%;
  left: 60%;
}
.calcio2{
  position: absolute;
  width:7%;
  top: 60.5%;
  left: 50%;
}

.completado{
  width: 23.5%;
  height: 25%;
  position: absolute;
  left: 38%;
  top: 40%
}
.info {
  width: 20%;
  height: 22%;
  position: absolute;
  left: 77%;
  top: 78%;
}

/*Elementos practica2*/
.informe{
  width: 23.4%;
  height: 25%;
  position: absolute;
  left: 75%;
  top: 69%;
  

}
.conductimetro{
  width: 15%;
  position: absolute;
  top: 49%;
  left:80%;
}
.conductimetro2{
  width: 15%;
  position: absolute;
  top: 55%;
  left:30%;
}
.cal{
  width: 19%;
  position: absolute;
  top: 45%;
  left:39%
}
.ultimo{
  width: 6%;
  position: absolute;
  top: 50.5%;
  left:76%
}
.ultimo2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:55%;
}
.porfa1{
  width: 6%;
  position: absolute;
  top: 40%;
  left:87.5%
}
.porfa2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:65%;
}
.cinta{
  width: 6%;
  position: absolute;
  top: 40%;
  left:92%
}
.cinta2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:60%;
}
.uno{
  width: 6%;
  position: absolute;
  top: 40%;
  left:87.5%;
}
.dos{
  width: 8%;
  position: absolute;
  top: 50%;
  left:55%;
}
.zincc{
  width: 6%;
  position: absolute;
  top: 40%;
  left:83%
}
.zincc2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:50%
}
.calcioo{
  width: 6%;
  position: absolute;
  top: 40%;
  left:79.5%
}
.calcioo2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:45%
}
.azufre{
  width: 6%;
  position: absolute;
  top: 40%;
  left:76%

}
.azufre2{
  width: 8%;
  position: absolute;
  top: 50%;
  left:40%
}
.contenedor_agua{
  width: 5%;
  position: absolute;
  top: 25%;
  left:80%
}
.contenedor_agua2{
  width: 5%;
  position: absolute;
  top: 52%;
  left:33%
}
.contenedor_cobre{
  width: 5%;
  position: absolute;
  top: 25%;
  left:85%
}
.contenedor_cobre2{
  width: 5%;
  position: absolute;
  top: 52%;
  left:38%
}
.contenedor_acido{
  width: 5%;
  position: absolute;
  top: 25%;
  left:90%
}
.contenedor_acido2{
  width: 5%;
  position: absolute;
  top: 52%;
  left:43%
}
.pipeta{
  width: 5%;
  position: absolute;
  top: 26%;
  left: 76%;
}
.pipeta2{
  width: 5%;
  position: absolute;
  top: 58%;
  left: 29%;
}
.completado{
  width: 23.5%;
  height: 25%;
  position: absolute;
  left: 38%;
  top: 40%
}

.elementos{
  position: absolute;
  width:5.8%;
  top: 41.3%;
  left: 77%;
}
.agua{
  position: absolute;
  width:4.7%;
  top: 62.3%;
  left: 77%;
}

input[type=submit] {
  transition-duration: 0.4s;
  width: 500px;
  height: 80px;
  font-size: medium;
  border-radius: 35px;
  margin-left: 48%;
  margin-top: 8%;
  margin-bottom: 30px;
}

input[type=submit]:hover {
  background-color: #023b48;
  color: white;
  transform: scale(1.1) perspective(1px);
}

.register_section {
  background-color: #023b48;
  color: white;
  padding: 60px 0;
}

.register_form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.register_form h3 {
  text-align: center;
  margin-bottom: 30px;
}

.register_form .form-group {
  margin-bottom: 20px;
}

.register_form input[type="text"],
.register_form input[type="email"],
.register_form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register_form button[type="submit"] {
  background-color: #023b48;
  color: white;
}

.register_form button[type="submit"]:hover {
  background-color: #fffbfb;
}

.login_section {
  background-image: url('images/Form_Principal.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
}

.login_form {
  max-width: 400px;
  margin: 0 auto;
}

.login_form .form-group {
  margin-bottom: 20px;
}

.login_form label {
  display: block;
  color: white;
}

.login_form input[type="email"],
.login_form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #023b48;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_form button[type="submit"]:hover {
  background-color: #023b48;
}

#error-div {
  display: none;
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

#error-msj {
  font-weight: bold;
}

#error-email {
  color: red;
  font-weight: bold;
}

.custom-button {
  background-color: #023b48; /* Azul */
  color: #ffffff; /* Blanco */
  border: none;
  border-radius: 5px;
  padding: 0px 100px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10%;
 
}

.custom-button:hover {
  background-color: #046277; /* Azul más oscuro al pasar el mouse */
}

.register-button {
  background-color: #023b48; /* Azul */
  color: #ffffff; /* Blanco */
  border: none;
  border-radius: 25px; /* Ajusta el radio para que sea redondeado */
  padding: 12px 24px; /* Ajusta el padding para que sea más cómodo */
  font-size: 18px;
  font-weight: bold; /* Texto en negrita */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.register-button:hover {
  background-color: #046277;; /* Azul más oscuro al pasar el mouse */
}

.instruccion1 {
  animation-duration: 3s;
  animation-name: la;
  animation-direction: alternate;
  position: absolute;
  top: 150%;
  left: 18%;
  width: 50%;
}

.es {
  animation-duration: 1s;
  animation-name: es;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}

.es2 {
  animation-duration: 1s;
  animation-name: es2;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es2 {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}

.es3 {
  animation-duration: 1s;
  animation-name: es3;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es3 {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}

.es4 {
  animation-duration: 1s;
  animation-name: es4;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es4 {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}

.es5 {
  animation-duration: 1s;
  animation-name: es5;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es5 {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}

.es6 {
  animation-duration: 1s;
  animation-name: es6;
  animation-direction: alternate;
  position: absolute;
  top: 18%;
  left: 25%;
  width: 15%;/* Mantener el estado final de la animación */
}

@keyframes es6 {
  from {
    margin-left:100%;
    width:15%
  }
  
  to {
   margin-left:0%;
   width:15%;
 }
}


.hidden {
  display: none;
}
